html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styl dla tabeli */
.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
}

    /* Styl dla nagłówka tabeli */
    .custom-table thead {
        background-color: #333;
        color: #fff;
        font-weight: bold;
    }

    .custom-table th, .custom-table td {
        padding: 12px 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    /* Zmień kolor wierszy na przemiennie */
    .custom-table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    /* Dodaj hover effect */
    .custom-table tbody tr:hover {
        background-color: #ddd;
    }

    /* Styl dla przycisków w komórkach */
    .custom-table .btn {
        padding: 5px 10px;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
        margin-right: 5px;
    }

    /* Styl dla przycisku "Add Friend" */
    .custom-table .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
    }

        .custom-table .btn-primary:hover {
            background-color: #0056b3;
        }

    /* Styl dla przycisku "Write a Message" */
    .custom-table .btn-success {
        background-color: #28a745;
        color: #fff;
        border: none;
    }

        .custom-table .btn-success:hover {
            background-color: #1e7e34;
        }


/* Styl dla nicku użytkownika */
.nickname {
    font-weight: bold;
    color: #3366cc; /* Kolor tekstu nicku */
}

/* Styl dla wiadomości użytkownika */
.user-message {
    font-weight: bold;
    color: #009900; /* Kolor tekstu wiadomości użytkownika */
}

/* Styl dla nazwy nadawcy wiadomości */
.sender-name {
    font-weight: bold;
    color: #cc3300; /* Kolor tekstu nazwy nadawcy */
}

/* Styl dla treści wiadomości */
.message-content {
    margin-left: 20px; /* Dodaje wcięcie dla treści wiadomości */
}

/* Styl dla czasu wysłania wiadomości */
.message-time {
    font-style: italic;
    color: #666666; /* Kolor tekstu czasu */
}

/* Styl dla pola tekstowego */
/* Styl dla kontenera formularza */
.mess-input {
    text-align: center; /* Wyśrodkowanie zawartości formularza */
}

/* Styl dla pola tekstowego w formularzu */
#messageInput {
    width: 70%; /* Szerokość pola tekstowego */
    padding: 10px; /* Wielkość wypełnienia wokół pola tekstowego */
    font-size: 16px; /* Rozmiar czcionki */
    border: 1px solid #ccc; /* Grubaść i kolor ramki */
    border-radius: 5px; /* Zaokrąglenie rogów pola tekstowego */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Cień pola tekstowego */
}

/* Styl dla przycisku w formularzu */
.send-button {
    padding: 10px 20px; /* Wielkoœæ wype³nienia przycisku */
    font-size: 16px; /* Rozmiar czcionki */
    background-color: #3366cc; /* Kolor t³a przycisku */
    color: white; /* Kolor tekstu na przycisku */
    border: none; /* Usuniêcie ramki przycisku */
    border-radius: 5px; /* Zaokr¹glenie rogów przycisku */
    cursor: pointer; /* Zmiana kursora na wskaŸnik przy najechaniu */
}

    /* Dodatkowy styl przy najechaniu na przycisk */
    .send-button:hover {
        background-color: #2554a7; /* Kolor t³a przycisku po najechaniu */
    }

    .send-button.disabled-button {
        background-color: #ccc;
        color: #666;
        cursor: not-allowed;
        pointer-events: none;
    }
/* Styl dla listy wiadomości */
.message-list {
    list-style-type: none;
    padding: 0;
}

/* Styl dla pojedynczej wiadomości */
.message {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styl dla wiadomości użytkownika */
.user-message {
    font-weight: bold;
    color: #009900;
    font-size: 18px; /* Powiększenie rozmiaru czcionki wiadomości */
}

/* Styl dla nazwy nadawcy wiadomości */
.sender-name {
    font-weight: bold;
    color: #cc3300;
}

/* Styl dla treści wiadomości */
.message-content {
    margin-top: 5px;
    flex-grow: 1;
    font-size: 24px; /* Powiększenie rozmiaru czcionki treści wiadomości */
    word-wrap: break-word;
}

/* Styl dla czasu wysłania wiadomości */
.message-time {
    font-style: italic;
    color: #666666;
    text-align: right;
}